<p style="color: green"><%= notice %></p>

<%= form_with url: restaurants_path, method: :get do %>
  <%= text_field_tag :query, params[:query]  %>
  <%= submit_tag 'Rechercher'%>
<% end %>

<h1>Restaurants</h1>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <p>
      <%= link_to "Show this restaurant", restaurant %>
    </p>
  <% end %>
</div>

<%= link_to "New restaurant", new_restaurant_path %>
